<div class="page-container">
  <div class="row">
    <%= render :partial => 'candidate_profile', locals: { handle: '@realDonaldTrump', twitter_api: TwitterApi.trump_tweets, candidate_tweets: 'trump_tweets' } %>
    <%= render :partial => 'candidate_profile', locals: { handle: '@JoeBiden', twitter_api: TwitterApi.biden_tweets, candidate_tweets: 'biden_tweets' } %>
  </div>

  <div class="row">
    <%= render :partial => 'candidate_profile', locals: { handle: '@Mike_Pence', twitter_api: TwitterApi.pence_tweets, candidate_tweets: 'pence_tweets' } %>
    <%= render :partial => 'candidate_profile', locals: { handle: '@KamalaHarris', twitter_api: TwitterApi.harris_tweets, candidate_tweets: 'harris_tweets' } %>
  </div>
</div>
